@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins" , sans-serif;
    background-color: rgb(187, 226, 247);
}

/* style for navbar */

.navbar-container{
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 5px 16px;
    margin: auto;
    background-color: rgb(32, 84, 136);
    color: #fff;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 6;
}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20%;
}

.rupee-logo{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
}

nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.left-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    list-style: none;
}

.left-links a{
    text-decoration: none;
    color: #fff;
}

.btn{
    width: 140px;
    height: 49px;
    border-radius: 49px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
}

.btn:active{
    transform: scale(0.95);
}

.btn.transparent{
    width: 150px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.btn.solid{
    background-color: rgb(212, 87, 87);
    color: #fff;
    border: 2px solid #fff;
}

.hamburger{
    display: none;
}

.hamburger span{
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 2px 2px;
    transition: 0.2s 0.7s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

.mobile-nav-section{
    display: none;
    position: absolute;
    transition: transform 0.8s ease-in-out;
    width: 100%;
    background-color: rgb(32, 84, 136);
    transform: translateY(-100px);
    z-index: 4;
}

.mobile-nav-section{
    padding: 12px 10px;
}

.mobile-nav-button > ul > li{
    margin: 10px 0;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.mobile-nav-section.show{
    transform: translateY(0%);
}

.mobile-nav-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mobile-nav-button > button{
    margin: 10px 0px;
}


@media screen and (max-width: 990px) {
    .logo-section{
        width: max-content;
    }

    .nav-section{
        display: none;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mobile-nav-section {
        display: flex; /* Change this to make it flex initially */
        justify-content: space-around;
        align-items: center;
        height: 0;
        overflow: hidden; /* Hide overflowing content */
        transition: height 0.8s ease-in-out; /* Transition for height */
    }

    .mobile-nav-section.show {
        height: 50vh; /* Set the height to full screen height */
    }

    .mobile-nav-section ul{
        list-style: none;
    }

    .mobile-nav-section ul li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width : 400px) {
    .mobile-nav-section{
        flex-direction: column;
        gap: 1rem;
    }

    .mobile-nav-section ul{
        list-style: none;
    }

    .mobile-nav-section ul li {
        margin-bottom: 10px;
    }
}


/* EXPENSE FORM STYLES */

.expense-form-container{
    max-width: 600px;
    width: 100%;
    background-color: rgb(32, 84, 136);
    margin: auto;
    margin-top: 20px;
    padding: 1rem;
    border-radius: 15px;
}

.expense-form-container form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.category-section{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(187, 192, 197);
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
}

.category-section select{
    width: 100%;
    border: none;
}

.input-field{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(187, 192, 197);
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
}

label{
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}

.input-field input{
    font-size: 1.2rem;
    padding: 0.2rem;
    border: none;
    outline: none;
}

.expense-btn{
    width: 150px;
    height: 49px;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(55, 141, 211);
    color: #fff;
    border-radius: 49px;
    border: 1px solid #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.expense-btn:hover{
    background-color: rgb(23, 137, 230);
    font-weight: 600;
}

.expense-btn:active{
    transform: scale(0.95);
}

@media screen and (max-width: 400px) {
    .input-field{
        grid-template-columns: 30% 70%;
        width: 300px;
    }

    label{
        font-size: 0.9rem;
    }

    .category-section{
        grid-template-columns: 30% 70%;
        width: 300px;
    }

    .expense-btn{
        width: 120px;
        height: 40px;
        border-radius: 40px;
        font-size: 0.9rem;
    }

    .expense-form-container{
        width: 340px;
    }
}


/* EXPENSE DATA TABLE  */

.expense-table-container{
    margin: auto;
    max-width: 1200px;
    margin-top: 20px;
    padding: 1rem 0rem;
}

table{
    width: 90%;
    padding: 1.2rem 0.6rem;
    background-color: rgb(32, 84, 136);
    margin: 20px auto;
    border-radius: 16px;
}

thead tr{
    background-color: aliceblue;
}

tbody tr{
    background-color: rgb(109, 175, 208);
    color: #fff;
    text-align: center;
}

td{
    padding: 0.6rem;
}

.edit-btn-mobile , .delete-btn-mobile{
    display: none;
}

.edit-btn{
    background-color: green;
    color: #fff;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 500;
    margin: 0.3rem;
}

.delete-btn{
    background-color: rgb(225, 84, 84);
    color: #fff;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 500;
    margin: 0.3rem;
}

.edit-btn:active , .delete-btn:active{
    transform: scale(0.95);
}


@media screen and (max-width : 990px) {
    .expense-table-container{
        max-width: 90%;
    }


}

@media screen and (max-width : 550px) {
    .expense-table-container{
        max-width: 98%;
    }

    table{
        padding: 0.6rem;
    }

    th{
        font-size: 0.7rem;
        padding: 0.2rem;
    }

    td{
        font-size: 0.5rem;
    }

    .edit-btn , .delete-btn{
        display: none;
    }

    .edit-btn-mobile , .delete-btn-mobile{
        display: inline-block;
        margin: 0.3rem;
    }
}


